---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1><strong>Everyday Things</strong></h1>
<h2>Three Things I Can't Leave Home Without</h2>
<ul>
  <li><p><strong>IPhone</strong></p></li>
  <li><p><strong>Wallet</strong></p></li>
  <li><p><strong>Sweatshirt</strong></p></li>
</ul>