---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1><strong>IPhone</strong></h1>
<h2>The Versatile handheld electronic devices used for almost everything.</h2>
<p>Obviously I would never leave my house without my IPhone. I have to use my phone for almost anything whether it's playing music, using it for navigating the road, or even playing games. When I have a problem, I'll always go to my phone to figure it out.</p>

<p>I can't take a photo of my phone without using my phone so here is a photo I found online</p>
<img src="image/phone.webp" alt="Iphone">