---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1><strong>Sweatshirt</strong></h1>
<h2>My favorite piece of clothing of all time</h2>
<p>As someone who has been skinny for most of his life, I tend to get cold very easily. Because of this, I always bring a sweatshirt with me regardless of the tempurature or weather during the day. Regardless of if I am indoors or outdoors I'll always have one on deck. Usually I'll keep it in my bag or my car.</p>

<img src="/images/IMG_2231.JPG" alt="Sweatshirt">