---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1><strong>Wallet</strong></h1>
<h2>My holder for all my cards</h2>
<p>As a student at college, we need to hold on to a lot of cards like our drivers license, our student ids, debit cards, etc. Not only that but I use it to hol things like cash, insurance cards, photos, and most importantly, my guitar picks. You never know when you need to have a jam sesh.</p>

<img src="/images/IMG_2230.JPG" alt="Wallet">